spring:
  config:
    activate:
      on-profile: prod
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
logging:
  level:
    root: INFO

