# ============================================
# Invoice Service — environment variables
# ============================================

# Active Spring profile
SPRING_PROFILES_ACTIVE=dev

# PostgreSQL (shared main DB)
DB_HOST=localhost
DB_PORT=50433
DB_NAME=booking_system
DB_USER=booking_user
DB_PASSWORD=booking_pass

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:50092

# gRPC server port
GRPC_SERVER_PORT=50060

# HTTP server port
SERVER_PORT=8083
